@import "../../css/colors.css";

.submit-homework-button {
    background: $data-primary;
}

.submit-homework-button.hoverable {
    cursor: pointer;
}

.submit-homework-button.hoverable:hover {
    background-color: rgb(250, 126, 39);
}

.submit-homework-button-is-submited {
    /*background-color:hsla(215, 100%, 65%, 1);*/
    /*pointer-events: none;*/
}
